.article-contact {
    background-image : #FFF;
    background-color: white;
    .hero-footer .image {
        margin: 0 auto;
    }
    form{
        padding: 8%;
    }
    .hero-body{
        padding: 2%;
    }
}