.article-presentation {
    background-color: white;
    h2{
        font-size: 24px;
    }
    p, h2 {
        text-align: center;
        margin-top:20px;
    }
    .box-img{
        padding:5%
    }
    
}